---
import smalltownheroesLogoDark from "../../assets/company-logos/smalltownheroes-dark.png";
import smalltownheroesLogoLight from "../../assets/company-logos/smalltownheroes-light.png";
import waylayLogoDark from "../../assets/company-logos/waylay-dark.png";
import waylayLogoLight from "../../assets/company-logos/waylay-light.png";
import cheqroomLogoDark from "../../assets/company-logos/cheqroom-dark.png";
import cheqroomLogoLight from "../../assets/company-logos/cheqroom-light.png";
import whaleLogoDark from "../../assets/company-logos/whale-dark.png";
import whaleLogoLight from "../../assets/company-logos/whale-light.png";
import Stack from "../common/Stack.astro";

const COMPANIES = [
  {
    name: "Smalltown Heroes",
    logoDark: smalltownheroesLogoDark,
    logoLight: smalltownheroesLogoLight,
  },
  {
    name: "Waylay",
    logoDark: waylayLogoDark,
    logoLight: waylayLogoLight,
  },
  {
    name: "Cheqroom",
    logoDark: cheqroomLogoDark,
    logoLight: cheqroomLogoLight,
  },
  {
    name: "Whale",
    logoDark: whaleLogoDark,
    logoLight: whaleLogoLight,
  },
];
---

<Stack direction="column" alignItems="center" spacing={2}>
  <h2>Made friends at</h2>

  <Stack
    direction="row"
    spacing={5}
    wrap={true}
    justifyContent="center"
    class="logos-container"
  >
    {
      COMPANIES.map((company) => (
        <article class="logo-container">
          <img
            src={company.logoDark.src}
            alt={company.name}
            class="logo-dark"
            data-light-src={company.logoLight.src}
            data-dark-src={company.logoDark.src}
          />
        </article>
      ))
    }
  </Stack>
</Stack>

<style>
  .logo-container {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 500px) {
    .logos-container {
      flex-direction: column;
    }

    .logo-container {
      height: 25px;
    }
  }
</style>

<script>
  function updateLogos() {
    const theme =
      document.documentElement.getAttribute("data-theme") || "light";
    const logos = document.querySelectorAll(
      ".logo-container img",
    ) as NodeListOf<HTMLImageElement>;

    logos.forEach((logo) => {
      logo.src =
        (theme === "dark"
          ? logo.getAttribute("data-light-src")
          : logo.getAttribute("data-dark-src")) || "";
    });
  }

  updateLogos();

  const observer = new MutationObserver(() => updateLogos());
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
